.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.login-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    font-size: 18px;
    background-color: #2aa85a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #00b327a9;
}

.back-button {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #218838;
}

.login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #23272a;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 14px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin: 5px 0 10px;
  }
  
  .login-success-popup {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: #e6ffe6;
    color: #2e7d32;
    padding: 30px;
    border: 2px solid #2e7d32;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.login-success-popup p {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.login-success-popup button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.login-success-popup button:hover {
    background-color: #218838;
}
